.wrapper {
    border: 2px solid var(--text-color);
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 10px;
}

.wrapper>input {
    border: none;
    outline: none;
    font-size: 1rem;
    width: 100%;
    padding : 6px 8px;
}

.wrapper > input::placeholder {
    font-size: 0.75rem;
    letter-spacing: 0.5px;
}